In [1]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
import pandas as pd
df=pd.read_csv('CompanyABCprofit.csv')
df.head()

   Year  Profit(Rs '000)
0  1821             1645
1  1822              658
2  1823             1926
3  1824              865
4  1825              764

In [2]:
X=df[['Year']]
X.head()

   Year
0  1821
1  1822
2  1823
3  1824
4  1825

In [3]:
y=df[["Profit(Rs '000)"]]
y.head()

   Profit(Rs '000)
0             1645
1              658
2             1926
3              865
4              764

In [4]:
prepro=Pipeline(steps=[
    ('imputer',SimpleImputer(strategy='mean')),
    ('scaler',StandardScaler())
])

In [5]:
pipeline=Pipeline(steps=[
    ('preprocessor',prepro),
('classifier',RandomForestClassifier(n_estimators=100,random_state=42))
])

In [6]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=100)
pipeline.fit(X_train,y_train)
y_pred=pipeline.predict(X_test)
y_pred

C:\Users\Python\anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

array([1639, 1051, 1573,  941,  855, 1096,  571,  886,  466,  997, 1568,
        944, 1237, 1082, 1639, -178, 1302, 1310, 1568, 1277,  594,  831,
       1627, 2055, 1247,  243,  810, 1228, 1724,  944, 1028, 1116,  913,
        689,  769, 1459,  994,  796, 1275,  895,  769,  655,  796, 1319,
       1282, 1031,  282, 1042, 1277, 1302, 1088, 1082,  914,  992, 1973,
       1645, 1302, 1247,  913,  689], dtype=int64)