In [2]:
import pandas as pd
workout={
    'days':{
        '0':'day1',
        '1':'day2',
        '2':'day3',
        '3':'day4',
        '4':'day5',
        '5':'day6',
    
    
    },
    'workouts':{
        '0':'chest',
        
        '2':'rest',
        '3':'wings',
        '4':'shoulders',
        '5':'leg2',
     
    },
    'duration':{
        '0':'00:59:00',
        '1':'00:59:00',
        
     
        '3':'00:00:00',
        '4':'00:59:00',
        '5':'00:59:00',
        '6':'00:45:00'
    }
}
df=pd.DataFrame(workout)
df
df.to_csv('workout.csv',index=False)

In [3]:
df=pd.read_csv("workout.csv")
df

   days   workouts  duration
0  day1      chest  00:59:00
1  day2        NaN  00:59:00
2  day3       rest       NaN
3  day4      wings  00:00:00
4  day5  shoulders  00:59:00
5  day6       leg2  00:59:00
6   NaN        NaN  00:45:00

In [4]:
df=pd.read_csv('workout.csv')
new_df=df.dropna()
new_df.to_string

<bound method DataFrame.to_string of    days   workouts  duration
0  day1      chest  00:59:00
3  day4      wings  00:00:00
4  day5  shoulders  00:59:00
5  day6       leg2  00:59:00>

In [5]:
df=pd.read_csv('workout.csv')
df.dropna(inplace=True)
df.to_string

<bound method DataFrame.to_string of    days   workouts  duration
0  day1      chest  00:59:00
3  day4      wings  00:00:00
4  day5  shoulders  00:59:00
5  day6       leg2  00:59:00>

In [6]:
#replace
df=pd.read_csv('workout.csv')
df.fillna(60,inplace=True)
df.to_string

<bound method DataFrame.to_string of    days   workouts  duration
0  day1      chest  00:59:00
1  day2         60  00:59:00
2  day3       rest        60
3  day4      wings  00:00:00
4  day5  shoulders  00:59:00
5  day6       leg2  00:59:00
6    60         60  00:45:00>

In [7]:
df=pd.read_csv('workout.csv')
df['duration'].fillna(60,inplace=True)
df.to_string

C:\Users\Python\AppData\Local\Temp\ipykernel_4412\3180977080.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['duration'].fillna(60,inplace=True)

<bound method DataFrame.to_string of    days   workouts  duration
0  day1      chest  00:59:00
1  day2        NaN  00:59:00
2  day3       rest        60
3  day4      wings  00:00:00
4  day5  shoulders  00:59:00
5  day6       leg2  00:59:00
6   NaN        NaN  00:45:00>

In [8]:
df=pd.read_csv('workout.csv')
df['workouts'].fillna('leg1',inplace=True)
df['duration'].fillna(60,inplace=True)
# df['days'].fillna('day7',inplace=True)
df

C:\Users\Python\AppData\Local\Temp\ipykernel_4412\2444392707.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['workouts'].fillna('leg1',inplace=True)
C:\Users\Python\AppData\Local\Temp\ipykernel_4412\2444392707.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['duration'].fillna(60,inplace=True)

   days   workouts  duration
0  day1      chest  00:59:00
1  day2       leg1  00:59:00
2  day3       rest        60
3  day4      wings  00:00:00
4  day5  shoulders  00:59:00
5  day6       leg2  00:59:00
6   NaN       leg1  00:45:00

In [9]:
#correcting formate
import pandas as pd

df['duration']=pd.to_datetime(df['duration'])

df

C:\Users\Python\AppData\Local\Temp\ipykernel_4412\174670807.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['duration']=pd.to_datetime(df['duration'])

   days   workouts                      duration
0  day1      chest 2024-07-11 00:59:00.000000000
1  day2       leg1 2024-07-11 00:59:00.000000000
2  day3       rest 1970-01-01 00:00:00.000000060
3  day4      wings 2024-07-11 00:00:00.000000000
4  day5  shoulders 2024-07-11 00:59:00.000000000
5  day6       leg2 2024-07-11 00:59:00.000000000
6   NaN       leg1 2024-07-11 00:45:00.000000000

In [10]:
##removing rows
# df=pd.read_csv('workout.csv')
df.dropna(subset=['days'],inplace=True)
df

   days   workouts                      duration
0  day1      chest 2024-07-11 00:59:00.000000000
1  day2       leg1 2024-07-11 00:59:00.000000000
2  day3       rest 1970-01-01 00:00:00.000000060
3  day4      wings 2024-07-11 00:00:00.000000000
4  day5  shoulders 2024-07-11 00:59:00.000000000
5  day6       leg2 2024-07-11 00:59:00.000000000

In [11]:
df.loc[1,'workouts']='leg2'
df

   days   workouts                      duration
0  day1      chest 2024-07-11 00:59:00.000000000
1  day2       leg2 2024-07-11 00:59:00.000000000
2  day3       rest 1970-01-01 00:00:00.000000060
3  day4      wings 2024-07-11 00:00:00.000000000
4  day5  shoulders 2024-07-11 00:59:00.000000000
5  day6       leg2 2024-07-11 00:59:00.000000000

In [12]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [13]:
df.drop_duplicates(inplace=True)
df

   days   workouts                      duration
0  day1      chest 2024-07-11 00:59:00.000000000
1  day2       leg2 2024-07-11 00:59:00.000000000
2  day3       rest 1970-01-01 00:00:00.000000060
3  day4      wings 2024-07-11 00:00:00.000000000
4  day5  shoulders 2024-07-11 00:59:00.000000000
5  day6       leg2 2024-07-11 00:59:00.000000000

In [18]:
##interpolate 

df.interpolate()

TypeError: Cannot interpolate with all object-dtype columns in the DataFrame. Try setting at least one column to a numeric dtype.

In [20]:
##replace

df.replace(to_replace='00:59:00',value='00:50:00')

   days   workouts  duration
0  day1      chest  00:50:00
1  day2        NaN  00:50:00
2  day3       rest       NaN
3  day4      wings  00:00:00
4  day5  shoulders  00:50:00
5  day6       leg2  00:50:00
6   NaN        NaN  00:45:00

In [24]:
df['workouts'].fillna('leg',inplace=True)
df

   days   workouts  duration
0  day1      chest  00:59:00
1  day2        leg  00:59:00
2  day3       rest       NaN
3  day4      wings  00:00:00
4  day5  shoulders  00:59:00
5  day6       leg2  00:59:00
6   NaN        leg  00:45:00

In [25]:
df.replace(to_replace='leg2',value='leg',inplace=True)
df

   days   workouts  duration
0  day1      chest  00:59:00
1  day2        leg  00:59:00
2  day3       rest       NaN
3  day4      wings  00:00:00
4  day5  shoulders  00:59:00
5  day6        leg  00:59:00
6   NaN        leg  00:45:00

In [26]:
df['duration'].fillna('00:00:00',inplace=True)
df

C:\Users\Python\AppData\Local\Temp\ipykernel_4412\4277715716.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['duration'].fillna('00:00:00',inplace=True)

   days   workouts  duration
0  day1      chest  00:59:00
1  day2        leg  00:59:00
2  day3       rest  00:00:00
3  day4      wings  00:00:00
4  day5  shoulders  00:59:00
5  day6        leg  00:59:00
6   NaN        leg  00:45:00

In [27]:
df.dropna(axis=0)

   days   workouts  duration
0  day1      chest  00:59:00
1  day2        leg  00:59:00
2  day3       rest  00:00:00
3  day4      wings  00:00:00
4  day5  shoulders  00:59:00
5  day6        leg  00:59:00